::selection {
    background: #000;
    color: #fcdb00;
}

::-moz-selection {
    background: #000;
    color: #fcdb00;
}

a img {border: none; }

a:link {
    text-decoration: none;
    color:#000;
}
a:visited {
    text-decoration: none;
    color:#000;
}
a:hover {
    text-decoration: underline;
    color:#666;
}
a:active {
    text-decoration: none;
    color:#666;
}

@font-face {
    font-family: "Zurich";
    src: url(zurich-cn-bt.ttf) format("truetype");
}
@font-face {
    font-family: "Corbel";
    src: url(CORBEL.TTF) format("truetype");
}

@font-face {
    font-family: "Myriad";
    src: url(myriad-web-pro.ttf) format("truetype");
}

html, body{
    height: 100%;
}

body {
    font-size:12px;
    font-family:Zurich, Verdana;
    padding: 0;
    margin: 0;
}

.logo_redirect, #nav div a{
    cursor:pointer;
}

div#outer {
    width: 1080px;
    z-index:100;
    margin-left: -540px;
    margin-right: auto;
    padding: 0px;
    left: 50%;
    top: 0px;
    bottom: 0px;
    float: left;
    position: absolute;
}

.muda-estado{
    position: absolute;
    top: 0;
    right: 40px;
    width: 100px;
    height: 25px;
    background-color: #fcdb00;
    z-index:9;
    background: url(../img/botao-estado3.jpg) no-repeat right #fcdb00;
    overflow: hidden;
}

.select-muda-estado{
    background-color:#fcdb00;
    border:0;
   border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    font-family:Zurich, Verdana; line-height: 1;
    width: 120px;
}

.thumb_projeto{
    height:230px;
    width:230px;
}

.thumb_hover{
    opacity: .5;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    border: 0;
}

.thumb_sem_hover{
    opacity: 1;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    border: 0;
}

.foto_home_2{
    display:none;
}

#container_esquerda{
    background-color:#fff;
    display: none;
    z-index:99;
    width:800px;
    margin-left:-512px;
    -webkit-box-shadow: 2px 0px 14px 0px #888;
    box-shadow: 2px 0px 14px 0px #888;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.muda-estado-2{
    position: absolute;
    top: 6px;
    right: 10px;
}

.muda-estado-2 img{
    margin-right:3px;
    cursor: pointer;
}

.seta_box{
    top:39%;
    left:45%;
    position:absolute;
}

.esq{
    left:42%;
}

.container-direita-home{
    background-color: white !important;
}

#seta_esquerda{
    display:block;
    height:40px;
    width:40px;
    background:#333;
    position:absolute;
    top:36%;
    left: 42px;
    opacity:0.6;
    cursor:pointer;
    z-index:999;
}

#seta_direita{
    display:block;
    height:40px;
    width:40px;
    background:#333;
    opacity:0.6;
    right: 45px;
    position:absolute;
    top:36%;
    cursor:pointer;
    z-index:999;
}

.foto_projeto .foto_projeto_img.greyScale{
    opacity:0.6 !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    transition:all .3s ease-in;
    cursor:pointer;
}

.foto_projeto.activeSlide .foto_projeto_img.greyScale,
.foto_projeto .foto_projeto_img.greyScale:hover{
    opacity:1 !important;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: none;
    -webkit-filter: grayscale(0%);
}

#container_direita{
    width:800px;
    display:none;
    position:absolute;
    float:left;
    z-index:98;
    -webkit-box-shadow: 3px 0 6px 0px #888;
    box-shadow: 3px 0 6px 0px #888;
    left: 288px;
    min-height: 100%;
    background-color: #fcdb00;

}

#container_navegacao{
    width:100%;
    position:relative;
    float:left;
    margin-top:35px;
}

#container_footer{
    height:120px;
    width:100%;
    position:absolute;
    display: none;
    font-family: Zurich;
    font-size: 13px;
}

#container_footer .facebook {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 0 6px;
    text-indent: -9999px;
    background: url('../img/facebook.png') no-repeat center;
    opacity: .3;
    -webkit-transition: all 0.7s;
    -moz-transition:    all 0.7s;
    -ms-transition:     all 0.7s;
    -o-transition:      all 0.7s;
    transition:         all 0.7s;
}

#container_footer .facebook:hover {
    opacity: 1;
}

#container_fotos{
    height:100%;
    width: 800px;
}

.container-fotos-home{
    margin-top: 38px !important;
    margin-bottom: 20px;
}

#wrapper_footer{
    height:30px;
    width:100%;
    position:relative;
    float:left;
}

#nav{
    float:left;
    width:100%;
    position:relative;
}

#nav div, #nav div:hover{
    text-align:right;
    padding-right:120px;
    margin-top:8px;
    text-transform:uppercase;
}

#nav div a:hover{
     color:#fcdb00;
}
#nav div a{
    text-decoration: none;
    font-size:13px;
    color:#141414;
     margin-right: -34px;
   -webkit-transition: color 0.7s;
    -moz-transition:    color 0.7s;
    -ms-transition:     color 0.7s;
    -o-transition:      color 0.7s;
    transition:         color 0.7s;
 }

.menu_selected{
    background-color:#eee;
}
#container_logo{
    height:140px;
    width:100%;
    position:relative;
    float:right;
    margin-top:30px;
}

#foto_logo{
    width:179px;
    height:150px;
    position:relative;
    float:right;
    margin-top:0px;
    margin-right:35px;
}

#footer_list{
    list-style: none;
    bottom:75px;
    right:30px;
    position:absolute;
}

#footer_list + a {
    position: absolute;
    bottom: 10px;
    right: 120px;
    display: block;
}

#footer_list + a img {
    display: block;
}

#texto_perfil{
    background-color: #fcdb00;
    width:37%;
    position:relative;
    float:left;
    box-shadow: 10px 10px -6px 6px black;
}

#texto_servico{
    background-color: #fcdb00;
    height:auto;
    width:800px;
    position:relative;
    float:left;
}

#caixa_texto_perfil{
    height:auto;
    width:210px;

    margin: 0 auto;
    margin-top:120px;
}

.caixa_texto_servico{
    height:auto;
    width:210px;
    margin-top:100px;
    margin-left: 42px;
    position: relative;
    float:left;
}

#foto_servico{
    height:auto;
    width:auto;
    position:relative;
    float:left;
    margin-top:59px;
}

.texto_projeto{
    background-color: #fcdb00;
    height:764px;
    width:400px;
    position:relative;
    float:left;
}

#box_listagem_projetos{
    background-color: #fcdb00;
    height:auto;
    width:800px;
    position:relative;
    float:left;
    padding-bottom: 20px;
    font-size: 0;
}

#box_listagem_projetos a{
    display: inline-block;
}

.espacamento{
    float:left;
    position:relative;
    height:0px;
}

.texto_projeto:hover{
    background-color: #FFF;
}

.nome_projeto{
    background-color:black;
    position:absolute;
    bottom:0;
    width:192px;
    color:white;
    padding-left:8px;
    padding-top:3px;
    text-transform:uppercase;
    font-size: 12px;
    font-weight: bold;
    z-index: 9999;
    cursor: pointer;
    line-height: 1.3;
    padding: 8px 30px 8px 8px;
}

.box_fotos_projeto{
    position:relative;
    width:230px;
    height:230px;
    margin-left:25px;
    margin-top:25px;
}

#box_antes_depois{
    position:relative;
    float:left;
    width:800px;
    height:100%;
}

#box_antes{
    position:relative;
    float:left;
    width:800px;
    height:382px;
    background-color:#fcdb00;
}

#box_depois{
    position:relative;
    float:left;
    width:800px;
    height:382px;
    background-color:#FFF;
}

#box_navegacao{
    position:relative;
    float:left;
    width:440px;
    height:40px;
    margin-left:180px;
}

#botao_anterior{
    position:relative;
    float:left;
    font-family:Corbel;
    font-style:italic;
    margin-top:20px;
    margin-left:47px;
    color:#443304;
    font-weight: bold;
    cursor:pointer;
    font-size:14px;
}

#botao_proximo{
    position:absolute;
    right:70px;
    font-family:Corbel;
    font-style:italic;
    color:#443304;
    bottom:15px;
    font-weight: bold;
    cursor:pointer;
    font-size:14px;
}

#box_texto_antes{
    width:180px;
    position:relative;
    text-align:center;
    font-size:32px;
    padding-top:332px;
    font-family: Corbel;
    font-weight: bold;
    color:#443304;
    font-style:italic;
    float:left;
}

#box_texto_depois{
    width:160px;
    position:relative;
    text-align:center;
    font-size:32px;
    padding-top:20px;
    font-family: Corbel;
    color:#443304;
    margin-left:8px;
    font-style:italic;
    float:left;
    font-weight: bold;
}

#box_foto_antes{
    width:440px;
    position:relative;
    text-align:center;
    size:28px;
    height:330px;
    margin-top:36px;
    background-color: #24211d;
    float:left;
}

.tint {
    float: left;
    background: #fcdb00;
    margin: 0 0px 0px 0;
    cursor:pointer;
}

#box_foto_depois{
    width:440px;
    position:relative;
    text-align:center;
    size:28px;
    background-color: #24211d;
    height:330px;
    margin-top:20px;
    margin-bottom:21px;
    float:left;
    margin-left:11px;
}

.box_projeto{
    cursor:pointer;
    width:200px;
    margin:0 auto;
    margin-top:250px;
    margin-left:120px;
}

.box_direita{
    margin-left:60px ;
}

.seta_amarela{
    position:absolute;
    right:8px;
    top:50%;
    margin-top: -7px;
}

.texto_projeto{
    text-align:center;
    font-family: Zurich;
    color: #443304;
    font-size:14px;
    font-weight:bold;
    font-style:italic
}

.logo_projeto{
    margin-top:60px;
}

.titulo1{
    font-family: Corbel;
    color:#443304;
    font-size:28px;
    font-style: italic;
    font-weight: bold;
}

.titulo_projeto{
    margin-top:20px;
    margin-left:42px;
    position: relative;
    float:left;
    font-size:18px;
    font-family: Corbel;
    color: #443304;
    font-weight: bold;
    font-style: italic;

}

.listagem_fotos{
    position:relative;
    float:left;
    margin-left:42px;
    margin-top:20px;
    width:713;
    height:auto;
}

.titulo2{
    font-family: Corbel;
    color:#443304;
    font-size:19px;
    font-style: italic;
    font-weight: bold;
}

.titulo3{
    font-family: Corbel;
    color:#443304;
    font-size:24px;
    font-style: italic;
    font-weight: bold;
}

.perfil_descricao{
    font-family: Myriad;
    color:#443304;
    font-size:13px;

}

.escolhido_div{
    opacity: 1;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.nao_escolhido_div{
    opacity: 0.5;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.servico_descricao{
    font-family: Myriad;
    color:#443304;
    font-size:13px;
}

#foto_perfil{
    background-color: #EEE;
    width:63%;
    position:relative;
    float:left;
}

#foto_perfil img{
    float: right;
}

#foto_principal_container{
    width:713px;
    height:474px;
    margin-left:42px;
    background-color: #24211d;
    position: relative;
    float:left;
    margin-top:25px;

}

.foto_projeto{
    height:51px;
    width:51px;
    margin-right:4px;
    margin-bottom:4px;
    position:relative;
    float:left;
}

.none{
    text-decoration: none;
    cursor:pointer;
}

.none:hover{
    text-decoration: underline;
}

#botao_voltar{
    width:100%;
    margin-top:20px;
    text-align:center;
    padding-bottom:20px;
    font-family: Corbel;
    font-style:italic;
    font-size:14px;
    font-weight: bold;
}

.bwWrapper {
    position:relative;
    display:block;
}

.quadrado_wrapper{
    display:block;
    position: relative;
    float:left;
    height: 150px;
    width: 150px;
    margin-right: 7px;
    margin-top: 7px;
}

.quadrado_foto{
    display: block;
    position:relative;
    height:150px;
    width:150px;
}

.quadrado_foto:after{
    content: "";
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffde00;
    transition: opacity .3s;
}

.quadrado_foto:hover:after{opacity: .5;}

.quadrado_amarelo{
    position:relative;
    height:150px;
    width:150px;
    background: #fcdb00;
}

.clear{
    clear:both;
}

.bg_amarelo{
    background-color:#fcdb00;
}

.cspan1{
    width:60px;
}

.cspan5{
    width:620px;
}

.cspan12{
    width:685px;
}

.cspant{
    height:175px;
}

.cspant textarea{
    width:680px;
     background:none;
    border:0;
}

.cspan5 input{
    width:600px;
}

.borda_branca{
    border:1px solid white;
}

#contato_contato{
    float:left;
    clear: left;
    position:relative;
    font-weight: bold;
    font-size: 14px;
    margin-top:90px;
    font-family: Myriad;
}

.lightbox-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(overlay.png);
    z-index: 101;
    cursor: pointer;
}

.lightbox-outer {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 150px;
    background: #ffde00;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: default;
    z-index: 201;
}

.lightbox-inner {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.lightbox-inner .lightbox-texto {
    width: 532px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    font-family: Corbel, sans-serif;
    color: #000;
}

.lightbox-inner .lightbox-texto h1, .lightbox-inner .lightbox-texto h2, .lightbox-inner .lightbox-texto p {
    text-align: left;
    margin: 0;
}

.lightbox-inner .lightbox-texto h1, .lightbox-inner .lightbox-texto h2 {
    font-style: italic;
}

.lightbox-inner .lightbox-texto h1 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
}

.lightbox-inner .lightbox-texto h2 {
    font-size: 22px;
}

.lightbox-inner .lightbox-texto p {
    width: 475px;
    font-size: 18px;
}

.lightbox-inner .lightbox-texto a {
    line-height: 80px;
    text-decoration: none;
    font-size: 25px;
    font-family: Zurich, sans-serif;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.lightbox-inner .lightbox-texto a:hover {
    color: #fff;
    background-color: #000;
}

.lightbox-inner .lightbox-close {
    position: absolute;
    top: 20px;
    right: 0;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    background: url('../img/close.png');
}

div.status {
    font-size: 14px;
    position: relative;
    float: left;
    margin-top: 5px;
}

div.status.erro {
    color: #d83535;
}

div.status.sucesso {
    color: #1d771b;
}

#container_projeto-online {
    height: 100%;
    width: 710px;
    padding: 75px 45px 50px;
    font-family: Myriad, sans-serif;
    font-size: 13px;
    line-height: 1.3;
}

#container_projeto-online h1, h2 {
    line-height: 1;
    font-family: Corbel, sans-serif;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

#container_projeto-online h1 {
    font-size: 28px;
}

#container_projeto-online h2 {
    font-size: 15px;
    margin-top: 10px;
}

ul.projeto-online_icones {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 45px;
    margin-bottom: 30px;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

ul.projeto-online_icones li {
    width: 150px;
    margin-right: 36px;
    float: left;
    font-size: 12px;
    position: relative;
}

ul.projeto-online_icones li > div {
    text-indent: -9999px;
    width: 65px;
    height: 65px;
    margin: 0 auto 20px;
}

ul.projeto-online_icones li.briefing > div { background: url('../img/online/icone-briefing.png'); }
ul.projeto-online_icones li.email > div { background: url('../img/online/icone-email.png'); }
ul.projeto-online_icones li.informacoes > div { background: url('../img/online/icone-informacoes.png'); }
ul.projeto-online_icones li.orcamento > div { background: url('../img/online/icone-orcamento.png'); }

ul.projeto-online_icones li:last-child {
    margin: 0;
}

.projeto-online_blocos {
    margin-bottom: 35px;
}

.projeto-online_blocos p {
    width: 340px;
    margin: 0;
    line-height: 1.5;
}

.projeto-online_blocos span {
    font-weight: bold;
    font-style: italic;
}

.projeto-online_blocos p.bloco-esquerda { float: left; }
.projeto-online_blocos p.bloco-direita { float: right; }

#container_projeto-online .botao {
    text-align: center;
}

#container_projeto-online .botao a {
    text-align: center;
    font-size: 25px;
    font-family: Zurich, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#container_projeto-online .botao a:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

ul.projeto-online_lista {
    width: 315px;
    padding: 0;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 20px;
    list-style-type: disc;
    list-style: inside;
    float: left;
}

ul.projeto-online_lista li {
    margin-bottom: 10px;
}

.blocos-orcamento {
    width: 315px;
    clear: left;
    float: left;
}

.blocos-orcamento .bloco-esquerda {
    margin-bottom: 30px;
    width: 315px;
}

.projeto-online_form {
    float: right;
    margin-top: 40px;
    width: 320px;
    height: 300px;
}

.projeto-online_form h3 {
    margin: 0 0 20px;
    font-family: Corbel, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.projeto-online_form form label {
    float: left;
    width: 100%;
    height: 24px;
    border: 1px solid #fff;
    margin-bottom: 6px;
    font-family: Corbel, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    line-height: 24px;
}

.projeto-online_form form label input {
    font-family: Corbel, sans-serif;
    font-size: 12px;
    width: 255px;
    float: right;
    margin: 2px 2px 0 0;
    background: none;
    border: 0;
    color: #889988;
    height: 20px;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.projeto-online_form form label[for='mensagem'] {
    height: auto;
}

.projeto-online_form form label textarea {
    font-family: Corbel, sans-serif;
    font-size: 12px;
    display: block;
    margin: 5px 10px 6px 0;
    width: 312px;
    min-height: 220px;
    background: none;
    border: 0;
    color: #889988;
    outline: 0;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#box_form{
    width:685px;
    margin:0 auto;
    margin-top: 60px;
}

#box_form form label {
    float: left;
    width: 100%;
    height: 24px;
    border: 1px solid #fff;
    margin-bottom: 6px;
    font-family: Corbel, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    line-height: 24px;
}

#box_form form label input {
    font-family: Corbel, sans-serif;
    font-size: 12px;
    width: 610px;
    float: right;
    margin: 2px 2px 0 0;
    background: none;
    border: 0;
    color: #889988;
    height: 20px;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#box_form form label[for='mensagem'] {
    height: auto;
}

#box_form form label textarea {
    font-family: Corbel, sans-serif;
    font-size: 12px;
    display: block;
    margin: 5px 10px 6px 0;
    width: 675px;
    min-height: 220px;
    background: none;
    border: 0;
    color: #889988;
    outline: 0;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#enviar {
    float: right;
    position: relative;
    color: #334433;
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 14px;
    margin-top: 5px;
    font-family: Zurich, Verdana;
    padding: 0;
}
.projetos-especiais h1 {
    font-weight: 100;
    margin-bottom: 30px;
}
.projetos-especiais p {
    font-size: 15px;
    line-height: 1.5;
}
.projetos-especiais form {
    margin: 30px 0;
}
.projetos-especiais form p {
    margin-top: 20px;
    float: left;
    width: 100%;
}
.empreendimentos {
    margin-bottom: 30px;
    overflow: auto;
    zoom: 1;
}
#box_form form label.empreendimento {
    width: 156px;
    height: 106px;
    float: left;
    margin: 0 6px 6px 0;
    padding: 0;
    cursor: pointer;
    border: none;
    position: relative;
}
#box_form form label.empreendimento input {
    visibility: hidden;
    position: absolute;
    width: 0 !important;
    height: 0;
}
#box_form.projetos-especiais form label input {
    width: 565px;
}
#box_form.projetos-especiais form input[type='submit'] {
    font-size: 20px;
}
#box_form form label.empreendimento img {
    display: block;
    border: 3px solid transparent;
    transition: border .3s;
}
#box_form form label.empreendimento input:checked + img {
    border: 3px solid black;
}
